---

interface Props {
  command: string;
}

const { command } = Astro.props;
---

<div class="bg-gray-900 py-6 px-8 rounded border border-gray-700 font-mono text-lg relative cursor-pointer transition-all duration-200 hover:bg-gray-800" id="command">
  <span id="cmd-text">{command}</span>
  <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 bg-gray-700 py-2 px-4 rounded opacity-0 transition-opacity duration-300" id="notification">Copied!</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const command = document.getElementById('command');
    const notification = document.getElementById('notification');
    const cmdText = document.getElementById('cmd-text');

    if (command && notification && cmdText) {
      command.addEventListener('click', () => {
        const textToCopy = cmdText.textContent || '';
        navigator.clipboard.writeText(textToCopy)
          .then(() => {
            notification.classList.add('opacity-100');
            setTimeout(() => {
              notification.classList.remove('opacity-100');
            }, 2000);
          })
          .catch(err => {
            console.error('Failed to copy: ', err);
          });
      });
    }
  });
</script> 